<footer class="footer flutters-dark-gray footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="subtitle has-text-white-ter">Join my Discord!</h1>
        <p>
          I have a discord server for people if they want to chill.
          <br> you can also come ask me questions
        </p>
        <br>
        <form>
          <button class="button is-primary is-outlined" formaction="https://discord.gg/vx53Qb7">Join Our Discord</button>
        </form>
      </div>
      <div class="column">
        <h1 class="subtitle has-text-white-ter">Social Media and Links</h1>
        <p>
<a href="https://twitter.com/MrFlutters?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @MrFlutters</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>
        <p>
          <div>{{fa-icon 'gitlab'}} <a href="https://gitlab.com/MrFlutters">Gitlab</a></div>
        </p>
        <br>
        <form>
          {{!-- <button class="button is-success is-outlined" formaction="https://discord.gg/tVyBHAU">Join Our Discord</button> --}}
        </form>
      </div>
    </div>
  </div>
</footer>
{{!-- {{yield}} --}}