<nav class="navbar flutters-dark-gray is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-text-white-bis" href="/">Fluttershub.com</a>
    </div>
    <div class="navbar-end">
        {{!-- <a class="navbar-item has-text-white-bis" href="https://ghost.fluttershub.com">Blog</a> --}}
        <a class="navbar-item has-text-white-bis" href="/Servers">Servers</a>
    </div>
</nav>

{{yield}}