@import "bulma";
$font: 'Exo 2',
sans-serif;
.flutters-dark-gray {
  background-color: #343D46;
  font: 100% $font;
}

.flutters-space-gray {
  background-color: #242a31;
  font: 100% $font;
}

p {
  color: rgb(255, 255, 255);
}

.has-image-centered {
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 100%);
  position: relative;
  padding: 7px;
  display: inline-block;
  border-radius: 7em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa {
  font-size: 2em;
}

.footer {
  padding: 3rem 1.5rem 3.5rem,
}

a:hover {
  color: #00d1b2 !important;
}
