{{nav-bar}}
<section class="hero flutters-dark-gray">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white-bis">
        Fluttershub.com
      </h1>
      <h2 class="subtitle has-text-white-bis">
        My Personal Website
      </h2>
    </div>
  </div>
</section>
<section class="section hero flutters-space-gray">
  <div class="columns hero-body flutters-welcome-info">
    <div class="column">
      <figure class="">
        <img class="has-image-centered" width="33.5%" height="33.5%" src="assets/images/profile-pic.jpg">
      </figure>
    </div>
    <div class="column">
      <h1 class="subtitle has-text-white-ter">About me</h1>
      <p>
        Hey, I'm Flutters, Im 21 and i enjoy tinkering and learning stuff.
        <br>
        <br> I'm usually messing around with Virtualization, Docker and automation tools, such as Ansible and Cloud-init.
        <br> Tho im still learning the ropes
      </p>
      <br>
      <p>
        I also mess around with some other tools now such has
        <a href="https://www.emberjs.com/">Ember</a> and
        <a href="https://nodejs.org">NodeJS</a>
      </p>
      <br>
      <p>
        On some rare occasions im hosting public servers, such as Garrys-mod, Factorio and any other games that take my fancy.
      </p>
    </div>
  </div>
</section>
{{flutters-footer}} {{outlet}}